.message {
  border-radius: 25px;
  margin: 0 15px 10px;
  padding: 15px 20px;
  position: relative;
  font-weight: bold;
}

.message.to {
	/* background-color: #2095FE; */
	color: #fff;
	/* margin-left: 20%; */
	text-align: right;
}
.message.to span{
	background-color: #2095FE;
    border-radius: 25px;
    /* margin: 0 15px 10px; */
    padding: 15px 20px;
    /* position: relative; */
    /* font-weight: bold; */
}


.message.from {
  background-color: #E5E4E9;
  color: #363636;
  margin-right: 25%;
}

.message.to+.message.to,
.message.from+.message.from {
  margin-top: -10px;
}

.header {
  text-align: center;
  font-size: 3rem;
}

@media (min-width: 768px) {
  .footer {
    padding-left: 54rem;
    padding-right: 54rem;
    width: 100%;
    position: absolute;
    bottom: 0;
  }
}

@media (max-width: 767.98px) {
  .input-btns {
    position: relative;
    width: 100%;
    padding: 12px;
  }
  .footer {
    width: 100%;
    position: absolute;
    bottom: 0;
  }
  textarea {
    font-size: 24px;
  }
  .message {
    font-size: 20px;
  }
}
/* 
.msg-scroll {
  overflow-y: auto;
  max-height: 410px;
} */

.input-btns {
  position: relative;
}

textarea {
  margin-bottom: 0px;
}

.header {
  position: relative;
  z-index: 1;
  background-color: #828c91;
  color: #fff;
}
button {
	background-color: #2ca3dd;
	border: 0.1rem solid #3b7b9b;
	color: #fff;
}
button[disabled]:hover
{
	background-color: #4ea1ca;
	border-color: #4ea1ca;
}
input[type='text']:focus
{
	border-color: #2ca3dd;
}
.chat_window{
	border: 1px solid #c3c3c3;
    /* display: table; */
    margin: 0 auto;
    padding: 10px;
    max-width: 500px;
    min-height: 500px;
    left: 0;
    right: 0;
    bottom: 20px;
	top: initial;
	position: relative;
	margin-top: 30px;
	overflow-y: scroll;
	overflow-x: hidden;
	display: block;
}
.input-btns{
    position: absolute;
    bottom: 0;
    width: 100%;
    left: 0;
    padding: 10px;

}
/* .msg-scroll{
	position: absolute;
    bottom: 32%;
    width: 100%;
    margin-top: 10px;
} */
.chat_error{color: #eb0028;}


