<div class="footer chat_window" style="display: none;">
 	<div class="bot-company-logo"><div class="circle-bg-white"><img src="assets/chat-icon.png" alt="chat-icon"/></div><strong>QualitasIT</strong></div>
	<div class="chat-box">
    <div *ngIf="isLoading" class="loader-box"><div class="lds-ring"></div></div>
		<div class="msg-scroll">
			<div class="message from">
        <div class="qit-logo-msg-from"><img src="assets/chat-icon.png" alt="chat-icon"/></div>
        <div class="content">
          <p class="bg-gray">Hi there! Its great to see you here. I'm Qbot - a chatbot for Qualitas IT.</p>
          <p class="bg-gray">I am here to help you understand what all products, solutions and services we offer.</p>
          <p class="bg-gray">So now that you are here, what are you looking for?</p>
          <p><a class="option_selection" (click)="getData('Mobile App development')">Mobile App development</a>
          </p>
          <p><a class="option_selection" (click)="getData('HRMS system')">HRMS system</a></p>
          <p><a class="option_selection" (click)="getData('E-Learning system')">E-Learning system</a></p>
          <p><a class="option_selection" (click)="getData('Programmers/Developers')">Programmers/Developers</a>
          </p>
          <p><a class="option_selection" (click)="getData('Web & Graphics designing')">Web & Graphics
              designing</a></p>
          <p><a class="option_selection" (click)="getData('Wordpress customisation')">Wordpress customisation</a>
          </p>
          <p><a class="option_selection" (click)="getData('About our Company')">About our Company</a></p>
          <p><a class="option_selection" (click)="getData('Job Openings')">Job Openings</a></p>
          <p><a class="option_selection" (click)="getData('None of these')">None of these</a></p>
          </div>
			</div>
		</div>
		<div class="msg-scroll">
			<div #scrollMe class="" *ngIf="showMainContent">
				<ng-container *ngFor="let message of messages | async">
					<div class="message" [ngClass]="{ 'from': message.sentBy === 'bot', 'to':   message.sentBy === 'user' }">


            <div class="qit-logo-msg-from"><img src="assets/chat-icon.png" alt="chat-icon"/></div>
              <div class="content">
              <!-- convert  -->
              <span class="bg-gray" (click)="getDFData($event)" [innerHTML]="message.content" id="df_data"></span>
              <!-- {{ message.content }} -->
            </div>
            <div class="user-logo-msg-from"><img src="assets/user-icon.jpg" alt="chat-icon"/></div>
					</div>
				</ng-container>
			</div>
			<div id="target"></div>
		</div>
		</div>
		<div class="input-btns">
			<div *ngIf="isChatError" class="chat_error">Please enter a valid message.</div>
			<input [(ngModel)]="formValue" placeholder="Write a message" (keyup.enter)="getTextData(formValue)" type="text" required>
			<button class="btn-refresh" (click)="reset_data()"><img src="assets/refresh.png" /></button>
			<button class="btn-send" (click)="getTextData(formValue)" [disabled]="!formValue"><img src="assets/send.png" /></button>
		</div>
	</div>
