@media (max-width: 767.98px) {
	.input-btns {
		position: relative;
		width: 100%;
		padding: 12px;
	}
	.footer {
		width: 100%;
		position: absolute;
		bottom: 0;
	}
	textarea {
		font-size: 24px;
	}
	.message {
		font-size: 20px;
	}
}
